.loading-area {
  display: inline-flex;
  align-items: center;
  height: 10rem;
}

.loading-dots,
.loading-dots:before,
.loading-dots:after {
  width: 20px;
  aspect-ratio: 0.5;
  display: grid;
  background: radial-gradient(var(--light-cyan) 68%, #0000 72%) center/100% 50%
    no-repeat;
  animation: load 1.2s infinite linear calc(var(--_s, 0) * 0.4s);
  transform: translate(calc(var(--_s, 0) * 150%));
}
.loading-dots:before,
.loading-dots:after {
  content: "";
  grid-area: 1/1;
}
.loading-dots:before {
  --_s: -1;
}
.loading-dots:after {
  --_s: 1;
}

@keyframes load {
  20% {
    background-position: top;
  }
  40% {
    background-position: bottom;
  }
  60% {
    background-position: center;
  }
}
