article,
.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  overflow: hidden;
}

.quote-container {
  background-color: var(--dark-grayish-blue);
  border-radius: 15px;
  width: 30rem;
  font-family: var(--quote-font);
  padding: 2rem 2.8rem;
  height: auto;
}

.quote-title {
  color: var(--neon-green);
  letter-spacing: 0.4rem;
  font-size: 14px;
}

.quote-area {
  height: auto;
  display: inline-flex;
  align-items: center;
  transition: all 10s ease-out;
}

.quote-text {
  color: var(--light-cyan);
  font-size: 28px;
  font-weight: bold;
  margin: 2rem 0;
  text-align: center;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.pattern-divider {
  margin-bottom: 2rem;
}

.dice-button-container {
  position: relative;
  bottom: 2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
