.search-advice-input {
  font-family: var(--quote-font);
  font-size: 1rem;
  color: var(--light-cyan);
  background: var(--dark-grayish-blue);
  padding: 0.5rem;
  border: 1px solid var(--dark-blue);
  border-radius: 10px;
  width: 80%;
  margin: 2rem 0;
}

.search-advice-input:focus {
  outline: 1px solid var(--neon-green);
}
