@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  --quote-size: 28px;
  --quote-font: "Manrope", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}
